<div class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="user-thumb">
                <%= gravatar_image_tag(@user.email.gsub('spam', 'mdeering'), alt: @user.name, 
                                        gravatar: { size: 80 }); %>
            </div>
            <h1 class="title is-3"><%= @user.name %></h1>
        </div>        
        <div class="tabs">
            <ul>
                <li class="is-active"><a>Prints</a></li>
                <li><a>Liked prints</a></li>
                <li><a>Collections</a></li>
                <li><a>About</a></li>
            </ul>
        </div>

    </div>
</div>
